USE [master]
GO
/****** Object:  Database [QuanlyHDBaoHiem]    Script Date: 11/13/2025 10:38:57 AM ******/
CREATE DATABASE [QuanlyHDBaoHiem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanlyHDBaoHiem', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanlyHDBaoHiem.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanlyHDBaoHiem_log', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanlyHDBaoHiem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanlyHDBaoHiem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanlyHDBaoHiem]
GO
/****** Object:  User [pjico_user]    Script Date: 11/13/2025 10:38:57 AM ******/
CREATE USER [pjico_user] FOR LOGIN [pjico_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [insurance_admin]    Script Date: 11/13/2025 10:38:57 AM ******/
CREATE USER [insurance_admin] FOR LOGIN [insurance_admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [pjico_user]
GO
ALTER ROLE [db_owner] ADD MEMBER [insurance_admin]
GO
USE [QuanlyHDBaoHiem]
GO
/****** Object:  Sequence [dbo].[seq_MaBienSo]    Script Date: 11/13/2025 10:38:57 AM ******/
CREATE SEQUENCE [dbo].[seq_MaBienSo] 
 AS [bigint]
 START WITH 21
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [QuanlyHDBaoHiem]
GO
/****** Object:  Sequence [dbo].[seq_MaGoi]    Script Date: 11/13/2025 10:38:57 AM ******/
CREATE SEQUENCE [dbo].[seq_MaGoi] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [QuanlyHDBaoHiem]
GO
/****** Object:  Sequence [dbo].[seq_MaHS]    Script Date: 11/13/2025 10:38:57 AM ******/
CREATE SEQUENCE [dbo].[seq_MaHS] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [QuanlyHDBaoHiem]
GO
/****** Object:  Sequence [dbo].[seq_MaKH]    Script Date: 11/13/2025 10:38:57 AM ******/
CREATE SEQUENCE [dbo].[seq_MaKH] 
 AS [bigint]
 START WITH 21
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [QuanlyHDBaoHiem]
GO
/****** Object:  Sequence [dbo].[seq_MaLS]    Script Date: 11/13/2025 10:38:57 AM ******/
CREATE SEQUENCE [dbo].[seq_MaLS] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [QuanlyHDBaoHiem]
GO
/****** Object:  Sequence [dbo].[seq_MaNV]    Script Date: 11/13/2025 10:38:57 AM ******/
CREATE SEQUENCE [dbo].[seq_MaNV] 
 AS [bigint]
 START WITH 3
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [QuanlyHDBaoHiem]
GO
/****** Object:  Sequence [dbo].[seq_MaTK]    Script Date: 11/13/2025 10:38:57 AM ******/
CREATE SEQUENCE [dbo].[seq_MaTK] 
 AS [bigint]
 START WITH 3
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [QuanlyHDBaoHiem]
GO
/****** Object:  Sequence [dbo].[seq_MaTT]    Script Date: 11/13/2025 10:38:57 AM ******/
CREATE SEQUENCE [dbo].[seq_MaTT] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [QuanlyHDBaoHiem]
GO
/****** Object:  Sequence [dbo].[seq_MaXe]    Script Date: 11/13/2025 10:38:57 AM ******/
CREATE SEQUENCE [dbo].[seq_MaXe] 
 AS [bigint]
 START WITH 26
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[GoiBaoHiem]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiBaoHiem](
	[MaGoi] [varchar](10) NOT NULL,
	[TenGoi] [nvarchar](50) NOT NULL,
	[TyLePhiCoBan] [decimal](5, 2) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [varchar](20) NOT NULL,
	[NgayKy] [date] NULL,
	[NgayHetHan] [date] NULL,
	[TrangThai] [nvarchar](15) NULL,
	[PhiBaoHiem] [decimal](18, 2) NULL,
	[MaKH] [varchar](10) NULL,
	[MaXe] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
	[NgayTao] [date] NULL,
	[DaNhacTaiTuc] [bit] NULL,
	[HinhThucThanhToan] [nvarchar](20) NULL,
	[GhiChuThanhToan] [nvarchar](max) NULL,
	[MaGoi] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](60) NULL,
	[CMND_CCCD] [varchar](12) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](120) NULL,
	[SDT] [varchar](12) NULL,
	[Email] [varchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CMND_CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](30) NULL,
	[PhongBan] [nvarchar](30) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[MaXe] [varchar](10) NOT NULL,
	[HangXe] [nvarchar](30) NULL,
	[LoaiXe] [nvarchar](30) NULL,
	[NamSX] [int] NULL,
	[GiaTriXe] [decimal](18, 0) NULL,
	[MucDichSuDung] [nvarchar](20) NULL,
	[TinhTrangKT] [nvarchar](12) NULL,
	[TanSuatNam] [int] NULL,
	[TanSuatBaoDuong] [nvarchar](20) NULL,
	[SoKhung_VIN] [varchar](17) NULL,
	[SoMay] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Xe_SoKhung] UNIQUE NONCLUSTERED 
(
	[SoKhung_VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DanhSachHopDong_ChiTiet]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_DanhSachHopDong_ChiTiet] AS
SELECT 
    hd.MaHD,
    hd.TrangThai,
    hd.NgayKy,
    hd.NgayHetHan,
    hd.PhiBaoHiem,
    kh.HoTen AS TenKhachHang,
    xe.HangXe,
    xe.LoaiXe,
    gbh.TenGoi AS TenGoiBaoHiem,
    nv.HoTen AS NhanVienPhuTrach
FROM 
    HopDong hd
LEFT JOIN 
    KhachHang kh ON hd.MaKH = kh.MaKH
LEFT JOIN 
    Xe xe ON hd.MaXe = xe.MaXe
LEFT JOIN 
    GoiBaoHiem gbh ON hd.MaGoi = gbh.MaGoi
LEFT JOIN 
    NhanVien nv ON hd.MaNV = nv.MaNV;
GO
/****** Object:  View [dbo].[v_HopDong_SapHetHan]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_HopDong_SapHetHan] AS
SELECT 
    hd.MaHD,
    kh.HoTen AS TenKhachHang,
    kh.SDT,
    kh.Email,
    hd.NgayHetHan,
    DATEDIFF(day, GETDATE(), hd.NgayHetHan) AS SoNgayConLai
FROM 
    HopDong hd
JOIN 
    KhachHang kh ON hd.MaKH = kh.MaKH
WHERE 
    hd.TrangThai = N'ACTIVE'  -- Chỉ lấy hợp đồng đang có hiệu lực
    AND DATEDIFF(day, GETDATE(), hd.NgayHetHan) BETWEEN 0 AND 15; -- Sắp hết hạn trong 15 ngày tới
GO
/****** Object:  Table [dbo].[ThanhToanHopDong]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToanHopDong](
	[MaTT] [varchar](10) NOT NULL,
	[MaHD] [varchar](20) NOT NULL,
	[NgayGiaoDich] [datetime] NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[LoaiGiaoDich] [nvarchar](20) NOT NULL,
	[HinhThuc] [nvarchar](30) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_TinhTrangThanhToan_HopDong]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_TinhTrangThanhToan_HopDong] AS
SELECT 
    hd.MaHD,
    hd.PhiBaoHiem,
    ISNULL(SUM(tt.SoTien), 0) AS TongTienDaThanhToan,
    (hd.PhiBaoHiem - ISNULL(SUM(tt.SoTien), 0)) AS SoTienConThieu,
    CASE 
        WHEN ISNULL(SUM(tt.SoTien), 0) = 0 THEN N'Chưa thanh toán'
        WHEN ISNULL(SUM(tt.SoTien), 0) < hd.PhiBaoHiem THEN N'Thanh toán một phần'
        ELSE N'Đã thanh toán đủ'
    END AS TrangThaiThanhToan
FROM 
    HopDong hd
LEFT JOIN 
    ThanhToanHopDong tt ON hd.MaHD = tt.MaHD AND tt.TrangThai = N'THANH_CONG' -- Chỉ tính các giao dịch thành công
GROUP BY 
    hd.MaHD, hd.PhiBaoHiem;
GO
/****** Object:  Table [dbo].[MaTranThamDinh]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaTranThamDinh](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TieuChi] [nvarchar](80) NULL,
	[DieuKien] [nvarchar](50) NULL,
	[Diem] [int] NULL,
	[GhiChu] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSoThamDinh_ChiTiet]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoThamDinh_ChiTiet](
	[MaHSC_ID] [int] IDENTITY(1,1) NOT NULL,
	[MaHS] [varchar](10) NOT NULL,
	[MaTieuChi] [int] NOT NULL,
	[GiaTri] [nvarchar](100) NULL,
	[Diem] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHSC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_HoSo_ChiTietDiemThamDinh]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_HoSo_ChiTietDiemThamDinh] AS
SELECT 
    hsc.MaHS,
    mt.TieuChi,
    mt.DieuKien,
    mt.Diem
FROM 
    HoSoThamDinh_ChiTiet hsc
JOIN 
    MaTranThamDinh mt ON hsc.MaTieuChi = mt.ID;
GO
/****** Object:  Table [dbo].[HoSoThamDinh]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoThamDinh](
	[MaHS] [varchar](10) NOT NULL,
	[NgayLap] [date] NULL,
	[TrangThai] [nvarchar](30) NULL,
	[MaKH] [varchar](10) NOT NULL,
	[MaXe] [varchar](10) NOT NULL,
	[MaNV_Nhap] [varchar](10) NULL,
	[MaNV_ThamDinh] [varchar](10) NULL,
	[KetQua] [nvarchar](100) NULL,
	[PhiDuKien] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[MaHD] [varchar](20) NULL,
	[RiskLevel] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ThongKe_ThamDinh]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[v_ThongKe_ThamDinh] AS
SELECT 
    TrangThai,
    RiskLevel,
    COUNT(MaHS) AS SoLuongHoSo,
    AVG(PhiDuKien) AS PhiDuKienTrungBinh
FROM 
    HoSoThamDinh
WHERE 
    TrangThai <> N'Chờ thẩm định' -- Chỉ thống kê các hồ sơ đã xử lý xong
GROUP BY 
    TrangThai,
    RiskLevel;
GO
/****** Object:  Table [dbo].[HopDongRelation]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongRelation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaHD_Goc] [varchar](20) NOT NULL,
	[MaHD_Moi] [varchar](20) NOT NULL,
	[LoaiQuanHe] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_BaoCao_TaiTuc]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_BaoCao_TaiTuc] AS
SELECT 
    hd.MaHD AS MaHopDongGoc,
    hd.NgayHetHan,
    kh.HoTen AS TenKhachHang,
    hd.PhiBaoHiem,
    CASE 
        WHEN rel.MaHD_Moi IS NOT NULL THEN N'Đã tái tục'
        ELSE N'Chưa tái tục'
    END AS TrangThaiTaiTuc,
    rel.MaHD_Moi AS MaHopDongMoi
FROM 
    HopDong hd
JOIN 
    KhachHang kh ON hd.MaKH = kh.MaKH
LEFT JOIN 
    HopDongRelation rel ON hd.MaHD = rel.MaHD_Goc AND rel.LoaiQuanHe = N'TAI_TUC' -- SỬA Ở ĐÂY
WHERE
    hd.TrangThai IN (N'ACTIVE', N'EXPIRED');
GO
/****** Object:  Table [dbo].[LS_TaiNan]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LS_TaiNan](
	[MaLS] [varchar](10) NOT NULL,
	[MaXe] [varchar](10) NULL,
	[SuKien] [nvarchar](100) NULL,
	[NgayXayRa] [date] NULL,
	[MucDoThietHai] [nvarchar](50) NULL,
	[ChiPhiUocTinh] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_PhanTich_RuiRo]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TẠO LẠI VIEW (bỏ DiemThamDinh)
CREATE VIEW [dbo].[v_PhanTich_RuiRo] AS
SELECT 
    -- Phân nhóm xe
    xe.LoaiXe,
    xe.HangXe,
    xe.MucDichSuDung,
    CASE 
        WHEN YEAR(GETDATE()) - xe.NamSX <= 3 THEN N'0-3 năm (Mới)'
        WHEN YEAR(GETDATE()) - xe.NamSX <= 7 THEN N'4-7 năm (Trung bình)'
        WHEN YEAR(GETDATE()) - xe.NamSX <= 15 THEN N'8-15 năm (Cũ)'
        ELSE N'>15 năm (Rất cũ)'
    END AS NhomTuoiXe,
    
    -- Thống kê số lượng
    COUNT(DISTINCT xe.MaXe) AS SoLuongXe,
    COUNT(DISTINCT hs.MaHS) AS SoHoSoThamDinh,
    COUNT(DISTINCT hd.MaHD) AS SoHopDong,
    
    -- Lịch sử tai nạn
    COUNT(DISTINCT tn.MaLS) AS TongSoTaiNan,
    SUM(tn.ChiPhiUocTinh) AS TongChiPhiTaiNan,
    
    -- Phân tích rủi ro
    AVG(YEAR(GETDATE()) - xe.NamSX) AS TuoiXeTrungBinh,
    
    -- Tỷ lệ rủi ro
    CAST(COUNT(CASE WHEN hs.RiskLevel = 'HIGH' THEN 1 END) * 100.0 / 
         NULLIF(COUNT(hs.MaHS), 0) AS DECIMAL(5,2)) AS TyLeRuiRoCao,
    
    CAST(COUNT(CASE WHEN hs.RiskLevel = 'REJECT' THEN 1 END) * 100.0 / 
         NULLIF(COUNT(hs.MaHS), 0) AS DECIMAL(5,2)) AS TyLeBiTuChoi,
    
    -- Tần suất tai nạn
    CAST(COUNT(DISTINCT tn.MaLS) * 1.0 / 
         NULLIF(COUNT(DISTINCT xe.MaXe), 0) AS DECIMAL(5,2)) AS TanSuatTaiNan
    
FROM Xe xe
LEFT JOIN HoSoThamDinh hs ON xe.MaXe = hs.MaXe
LEFT JOIN HopDong hd ON xe.MaXe = hd.MaXe
LEFT JOIN LS_TaiNan tn ON xe.MaXe = tn.MaXe
GROUP BY 
    xe.LoaiXe,
    xe.HangXe,
    xe.MucDichSuDung,
    CASE 
        WHEN YEAR(GETDATE()) - xe.NamSX <= 3 THEN N'0-3 năm (Mới)'
        WHEN YEAR(GETDATE()) - xe.NamSX <= 7 THEN N'4-7 năm (Trung bình)'
        WHEN YEAR(GETDATE()) - xe.NamSX <= 15 THEN N'8-15 năm (Cũ)'
        ELSE N'>15 năm (Rất cũ)'
    END;
GO
/****** Object:  Table [dbo].[KhachHangXe]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHangXe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [varchar](10) NOT NULL,
	[MaXe] [varchar](10) NOT NULL,
	[NgayBatDauSoHuu] [date] NOT NULL,
	[NgayKetThucSoHuu] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_KhachHang_ChiTiet]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_KhachHang_ChiTiet] AS
SELECT 
    kh.MaKH,
    kh.HoTen,
    kh.SDT,
    kh.Email,
    kh.DiaChi,
    kh.CMND_CCCD,
    kh.NgaySinh,
    COUNT(DISTINCT hd.MaHD) AS SoHopDong,
    COUNT(DISTINCT CASE WHEN hd.TrangThai IN ('ACTIVE', N'Hiệu lực') THEN hd.MaHD END) AS SoHopDongHieuLuc,
    ISNULL(SUM(hd.PhiBaoHiem), 0) AS TongPhiBaoHiem,
    MAX(hd.NgayKy) AS HopDongGanNhat,
    COUNT(DISTINCT khxe.MaXe) AS SoXeSoHuu
    -- BỎ DanhSachBienSo - Backend sẽ query riêng nếu cần
FROM KhachHang kh
LEFT JOIN HopDong hd ON kh.MaKH = hd.MaKH
LEFT JOIN KhachHangXe khxe ON kh.MaKH = khxe.MaKH AND khxe.NgayKetThucSoHuu IS NULL
GROUP BY kh.MaKH, kh.HoTen, kh.SDT, kh.Email, kh.DiaChi, kh.CMND_CCCD, kh.NgaySinh;
GO
/****** Object:  View [dbo].[v_BaoCao_TongHopDoanhThu]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_BaoCao_TongHopDoanhThu] AS
SELECT 
    FORMAT(tt.NgayGiaoDich, 'yyyy-MM') AS ThangGiaoDich,
    YEAR(tt.NgayGiaoDich) AS Nam,
    MONTH(tt.NgayGiaoDich) AS Thang,
    
    -- Gói bảo hiểm
    hd.MaGoi,
    gb.TenGoi,
    
    -- Nhân viên
    nv.MaNV,
    nv.HoTen AS TenNhanVien,
    nv.PhongBan,
    
    -- Khách hàng (BỎ LoaiKH)
    kh.MaKH,
    kh.HoTen AS TenKhachHang,
    
    -- Doanh thu
    COUNT(DISTINCT tt.MaTT) AS SoGiaoDich,
    COUNT(DISTINCT hd.MaHD) AS SoHopDong,
    SUM(tt.SoTien) AS TongDoanhThu
    
FROM ThanhToanHopDong tt
JOIN HopDong hd ON tt.MaHD = hd.MaHD
LEFT JOIN KhachHang kh ON hd.MaKH = kh.MaKH
LEFT JOIN GoiBaoHiem gb ON hd.MaGoi = gb.MaGoi
LEFT JOIN NhanVien nv ON hd.MaNV = nv.MaNV
WHERE 
    tt.TrangThai = N'THANH_CONG'
    OR tt.TrangThai = N'Thành công' -- Hỗ trợ cả 2 format
GROUP BY 
    FORMAT(tt.NgayGiaoDich, 'yyyy-MM'),
    YEAR(tt.NgayGiaoDich),
    MONTH(tt.NgayGiaoDich),
    hd.MaGoi,
    gb.TenGoi,
    nv.MaNV,
    nv.HoTen,
    nv.PhongBan,
    kh.MaKH,
    kh.HoTen;
GO
/****** Object:  Table [dbo].[BienSoXe]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienSoXe](
	[MaBienSo] [varchar](10) NOT NULL,
	[MaKH] [varchar](10) NOT NULL,
	[BienSo] [varchar](15) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBienSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BienSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DanhSach_HopDong_TheoTrangThai]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_DanhSach_HopDong_TheoTrangThai] AS
SELECT 
    hd.TrangThai,
    hd.MaHD,
    -- BỎ SoHD vì không có trong schema
    hd.NgayKy,
    hd.NgayHetHan,
    hd.PhiBaoHiem,
    kh.HoTen AS TenKhachHang,
    kh.SDT,
    bs.BienSo,
    xe.HangXe,
    xe.LoaiXe,
    gb.TenGoi,
    nv.HoTen AS NhanVienPhuTrach,
    DATEDIFF(DAY, GETDATE(), hd.NgayHetHan) AS SoNgayConLai
FROM HopDong hd
LEFT JOIN KhachHang kh ON hd.MaKH = kh.MaKH
LEFT JOIN Xe xe ON hd.MaXe = xe.MaXe
LEFT JOIN KhachHangXe khxe ON xe.MaXe = khxe.MaXe AND kh.MaKH = khxe.MaKH
LEFT JOIN BienSoXe bs ON khxe.MaKH = bs.MaKH AND bs.TrangThai = N'Đang sử dụng'
LEFT JOIN GoiBaoHiem gb ON hd.MaGoi = gb.MaGoi
LEFT JOIN NhanVien nv ON hd.MaNV = nv.MaNV;
GO
/****** Object:  View [dbo].[v_HoSo_ChoThamDinh]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_HoSo_ChoThamDinh] AS
SELECT 
    hs.MaHS, 
    kh.HoTen AS TenKhach, 
    bs.BienSo,  -- SỬA: Lấy từ bảng BienSoXe
    hs.NgayLap, 
    hs.PhiDuKien, 
    hs.TrangThai
FROM 
    HoSoThamDinh hs
JOIN 
    KhachHang kh ON hs.MaKH = kh.MaKH
LEFT JOIN 
    BienSoXe bs ON kh.MaKH = bs.MaKH  -- SỬA: JOIN qua MaKH
WHERE 
    hs.TrangThai = N'Chờ thẩm định';
GO
/****** Object:  View [dbo].[v_HoSo_DaDuyet]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_HoSo_DaDuyet] AS
SELECT 
    hs.MaHS, 
    hs.MaHD, 
    kh.HoTen AS TenKhach, 
    bs.BienSo,  -- SỬA: Lấy từ bảng BienSoXe
    hs.PhiDuKien, 
    hs.TrangThai
FROM 
    HoSoThamDinh hs
JOIN 
    KhachHang kh ON hs.MaKH = kh.MaKH
LEFT JOIN 
    BienSoXe bs ON kh.MaKH = bs.MaKH  -- SỬA: JOIN qua MaKH
WHERE 
    hs.TrangThai IN (N'Đã duyệt', N'Từ chối');
GO
/****** Object:  Table [dbo].[HopDong_Backup_MaHD]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong_Backup_MaHD](
	[MaHD] [varchar](20) NOT NULL,
	[NgayKy] [date] NULL,
	[NgayTao] [date] NULL,
	[TrangThai] [nvarchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaTranTinhPhi]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaTranTinhPhi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RiskLevel] [nvarchar](20) NOT NULL,
	[MaGoi] [varchar](10) NOT NULL,
	[HeSoPhi] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [varchar](10) NOT NULL,
	[TenDangNhap] [varchar](30) NULL,
	[MatKhau] [varchar](64) NULL,
	[VaiTro] [nvarchar](20) NULL,
	[TrangThai] [nvarchar](15) NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BienSoXe] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[GoiBaoHiem] ADD  DEFAULT ((0)) FOR [TyLePhiCoBan]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT ((0)) FOR [DaNhacTaiTuc]
GO
ALTER TABLE [dbo].[HoSoThamDinh] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoSoThamDinh] ADD  DEFAULT (N'Chờ thẩm định') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoSoThamDinh] ADD  DEFAULT ('LOW') FOR [RiskLevel]
GO
ALTER TABLE [dbo].[HoSoThamDinh_ChiTiet] ADD  DEFAULT ((0)) FOR [Diem]
GO
ALTER TABLE [dbo].[KhachHangXe] ADD  DEFAULT (getdate()) FOR [NgayBatDauSoHuu]
GO
ALTER TABLE [dbo].[ThanhToanHopDong] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[ThanhToanHopDong] ADD  DEFAULT (N'Thành công') FOR [TrangThai]
GO
ALTER TABLE [dbo].[BienSoXe]  WITH CHECK ADD  CONSTRAINT [FK_BienSoXe_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BienSoXe] CHECK CONSTRAINT [FK_BienSoXe_KhachHang]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaXe])
REFERENCES [dbo].[Xe] ([MaXe])
GO
ALTER TABLE [dbo].[HopDongRelation]  WITH CHECK ADD  CONSTRAINT [FK_HopDongRelation_Goc] FOREIGN KEY([MaHD_Goc])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[HopDongRelation] CHECK CONSTRAINT [FK_HopDongRelation_Goc]
GO
ALTER TABLE [dbo].[HopDongRelation]  WITH CHECK ADD  CONSTRAINT [FK_HopDongRelation_Moi] FOREIGN KEY([MaHD_Moi])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[HopDongRelation] CHECK CONSTRAINT [FK_HopDongRelation_Moi]
GO
ALTER TABLE [dbo].[HoSoThamDinh]  WITH CHECK ADD  CONSTRAINT [FK_HSTD_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[HoSoThamDinh] CHECK CONSTRAINT [FK_HSTD_HopDong]
GO
ALTER TABLE [dbo].[HoSoThamDinh]  WITH CHECK ADD  CONSTRAINT [FK_HSTD_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoSoThamDinh] CHECK CONSTRAINT [FK_HSTD_KhachHang]
GO
ALTER TABLE [dbo].[HoSoThamDinh]  WITH CHECK ADD  CONSTRAINT [FK_HSTD_NVNhap] FOREIGN KEY([MaNV_Nhap])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoSoThamDinh] CHECK CONSTRAINT [FK_HSTD_NVNhap]
GO
ALTER TABLE [dbo].[HoSoThamDinh]  WITH CHECK ADD  CONSTRAINT [FK_HSTD_NVThamDinh] FOREIGN KEY([MaNV_ThamDinh])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoSoThamDinh] CHECK CONSTRAINT [FK_HSTD_NVThamDinh]
GO
ALTER TABLE [dbo].[HoSoThamDinh]  WITH CHECK ADD  CONSTRAINT [FK_HSTD_Xe] FOREIGN KEY([MaXe])
REFERENCES [dbo].[Xe] ([MaXe])
GO
ALTER TABLE [dbo].[HoSoThamDinh] CHECK CONSTRAINT [FK_HSTD_Xe]
GO
ALTER TABLE [dbo].[HoSoThamDinh_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HSTD_ChiTiet_HoSo] FOREIGN KEY([MaHS])
REFERENCES [dbo].[HoSoThamDinh] ([MaHS])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoSoThamDinh_ChiTiet] CHECK CONSTRAINT [FK_HSTD_ChiTiet_HoSo]
GO
ALTER TABLE [dbo].[HoSoThamDinh_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HSTD_ChiTiet_MaTran] FOREIGN KEY([MaTieuChi])
REFERENCES [dbo].[MaTranThamDinh] ([ID])
GO
ALTER TABLE [dbo].[HoSoThamDinh_ChiTiet] CHECK CONSTRAINT [FK_HSTD_ChiTiet_MaTran]
GO
ALTER TABLE [dbo].[KhachHangXe]  WITH CHECK ADD  CONSTRAINT [FK_KhachHangXe_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[KhachHangXe] CHECK CONSTRAINT [FK_KhachHangXe_KhachHang]
GO
ALTER TABLE [dbo].[KhachHangXe]  WITH CHECK ADD  CONSTRAINT [FK_KhachHangXe_Xe] FOREIGN KEY([MaXe])
REFERENCES [dbo].[Xe] ([MaXe])
GO
ALTER TABLE [dbo].[KhachHangXe] CHECK CONSTRAINT [FK_KhachHangXe_Xe]
GO
ALTER TABLE [dbo].[LS_TaiNan]  WITH CHECK ADD FOREIGN KEY([MaXe])
REFERENCES [dbo].[Xe] ([MaXe])
GO
ALTER TABLE [dbo].[MaTranTinhPhi]  WITH CHECK ADD  CONSTRAINT [FK_MaTranTinhPhi_GoiBaoHiem] FOREIGN KEY([MaGoi])
REFERENCES [dbo].[GoiBaoHiem] ([MaGoi])
GO
ALTER TABLE [dbo].[MaTranTinhPhi] CHECK CONSTRAINT [FK_MaTranTinhPhi_GoiBaoHiem]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ThanhToanHopDong]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[ThanhToanHopDong] CHECK CONSTRAINT [FK_ThanhToan_HopDong]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CHK_HopDong_MaHD_Format] CHECK  (([MaHD] like 'HD-[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CHK_HopDong_MaHD_Format]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD CHECK  (([PhiBaoHiem]>=(0)))
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD CHECK  (([TrangThai]=N'Huỷ' OR [TrangThai]=N'Hết hạn' OR [TrangThai]=N'Hiệu lực'))
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_HinhThucThanhToan] CHECK  (([HinhThucThanhToan]=N'Thẻ' OR [HinhThucThanhToan]=N'Chuyển khoản' OR [HinhThucThanhToan]=N'Tiền mặt' OR [HinhThucThanhToan] IS NULL))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_HopDong_HinhThucThanhToan]
GO
ALTER TABLE [dbo].[MaTranThamDinh]  WITH CHECK ADD CHECK  (([Diem]>=(-5) AND [Diem]<=(5)))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([VaiTro]=N'Kế toán' OR [VaiTro]=N'Thẩm định' OR [VaiTro]=N'Nhân viên' OR [VaiTro]=N'Admin'))
GO
ALTER TABLE [dbo].[ThanhToanHopDong]  WITH CHECK ADD  CONSTRAINT [CHK_TT_LoaiGiaoDich] CHECK  (([LoaiGiaoDich]=N'Hoàn phí' OR [LoaiGiaoDich]=N'Thanh toán' OR [LoaiGiaoDich]=N'HOAN_PHI' OR [LoaiGiaoDich]=N'THANH_TOAN'))
GO
ALTER TABLE [dbo].[ThanhToanHopDong] CHECK CONSTRAINT [CHK_TT_LoaiGiaoDich]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [CHK_Xe_VIN_Length] CHECK  ((len([SoKhung_VIN])=(17)))
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [CHK_Xe_VIN_Length]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD CHECK  (([NamSX]>=(1990) AND [NamSX]<=datepart(year,getdate())))
GO
/****** Object:  StoredProcedure [dbo].[sp_ChuyenQuyenHopDong]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 9.7: sp_ChuyenQuyenHopDong
CREATE   PROCEDURE [dbo].[sp_ChuyenQuyenHopDong]
    @MaHD_Cu VARCHAR(10),
    @MaKH_Moi VARCHAR(10),
    @MaNV_ThucHien VARCHAR(10)
AS
BEGIN
    PRINT N'Thực thi sp_ChuyenQuyenHopDong cho ' + @MaHD_Cu + N' (Yêu cầu tạo Hồ sơ thẩm định mới cho KH ' + @MaKH_Moi + N')';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_HoanTienHopDong]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 9.5: sp_HoanTienHopDong
CREATE   PROCEDURE [dbo].[sp_HoanTienHopDong]
    @MaHD VARCHAR(10),
    @SoTienHoan DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO ThanhToanHopDong(MaHD, SoTien, LoaiGiaoDich, HinhThuc, TrangThai)
    VALUES (@MaHD, -@SoTienHoan, 'HOAN_PHI', N'Hoàn phí', N'Thành công');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RenewHopDong]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 9.6: sp_RenewHopDong (Đã fix lỗi MaGoi)
CREATE   PROCEDURE [dbo].[sp_RenewHopDong]
    @MaHD_Cu VARCHAR(10),
    @MaNV_ThucHien VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @MaHD_Moi VARCHAR(10);
    DECLARE @MaKH VARCHAR(10), @MaXe VARCHAR(10), @MaGoi VARCHAR(10), @Phi DECIMAL(18,2);

    -- Cột MaGoi đã được bổ sung ở BƯỚC 1
    SELECT @MaKH = MaKH, @MaXe = MaXe, @MaGoi = MaGoi, @Phi = PhiBaoHiem
    FROM [dbo].[HopDong] WHERE MaHD = @MaHD_Cu;
    
    INSERT INTO [dbo].[HopDong] ([NgayKy], [NgayHetHan], [TrangThai], [PhiBaoHiem], [MaKH], [MaXe], [MaGoi], [MaNV], [NgayTao])
    VALUES (GETDATE(), DATEADD(YEAR, 1, GETDATE()), N'DRAFT', @Phi, @MaKH, @MaXe, @MaGoi, @MaNV_ThucHien, GETDATE());

    SELECT TOP 1 @MaHD_Moi = MaHD 
    FROM [dbo].[HopDong] 
    WHERE MaKH = @MaKH AND MaXe = @MaXe AND MaGoi = @MaGoi
    ORDER BY NgayTao DESC;

    IF @MaHD_Moi IS NOT NULL
    BEGIN
        INSERT INTO [dbo].[HopDongRelation] (MaHD_Goc, MaHD_Moi, LoaiQuanHe)
        VALUES (@MaHD_Cu, @MaHD_Moi, 'TAI_TUC');
    END
    
    PRINT N'✓ Đã tái tục: ' + @MaHD_Cu + N' → ' + @MaHD_Moi;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoHopDong]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 9.3: sp_TaoHopDong (Đã fix lỗi RiskLevel và MaGoi)
CREATE   PROCEDURE [dbo].[sp_TaoHopDong]
    @MaHS VARCHAR(10),
    @MaGoi VARCHAR(10),
    @MaNV VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @MaKH VARCHAR(10), @MaXe VARCHAR(10), @RiskLevel NVARCHAR(20);

    -- Cột RiskLevel đã được bổ sung ở BƯỚC 1
    SELECT @MaKH = MaKH, @MaXe = MaXe, @RiskLevel = ISNULL(RiskLevel, 'LOW')
    FROM [dbo].[HoSoThamDinh] WHERE MaHS = @MaHS;

    IF @MaKH IS NULL OR @MaXe IS NULL BEGIN RAISERROR(N'Hồ sơ không hợp lệ (Không tìm thấy).', 16, 1); RETURN; END
    
    IF @RiskLevel = N'REJECT' BEGIN RAISERROR(N'Hồ sơ đã bị từ chối (REJECT). Không thể tạo hợp đồng.', 16, 1); RETURN; END

    DECLARE @PhiTinhToan DECIMAL(18, 2);
    EXEC [dbo].[sp_TinhPhiBaoHiem] @MaXe, @MaGoi, @RiskLevel, @PhiBaoHiem_Out = @PhiTinhToan OUTPUT;

    -- Cột MaGoi đã được bổ sung ở BƯỚC 1
    INSERT INTO [dbo].[HopDong] ([NgayKy], [NgayHetHan], [TrangThai], [PhiBaoHiem], [MaKH], [MaXe], [MaNV], [MaGoi], [NgayTao])
    VALUES (GETDATE(), DATEADD(YEAR, 1, GETDATE()), N'DRAFT', @PhiTinhToan, @MaKH, @MaXe, @MaNV, @MaGoi, GETDATE());

    DECLARE @NewMaHD VARCHAR(10);
    SELECT TOP 1 @NewMaHD = MaHD 
    FROM [dbo].[HopDong] 
    WHERE MaKH = @MaKH AND MaXe = @MaXe AND MaGoi = @MaGoi
    ORDER BY NgayTao DESC;

    IF @NewMaHD IS NOT NULL
    BEGIN
        UPDATE [dbo].[HoSoThamDinh] 
        SET MaHD = @NewMaHD, TrangThai = N'Đã duyệt', PhiDuKien = @PhiTinhToan
        WHERE MaHS = @MaHS;
        PRINT N'✓ Đã tạo hợp đồng mới ' + @NewMaHD + N' từ hồ sơ ' + @MaHS;
    END;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoThanhToan]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 9.4: sp_TaoThanhToan
CREATE   PROCEDURE [dbo].[sp_TaoThanhToan]
    @MaHD VARCHAR(10),
    @SoTien DECIMAL(18,2),
    @HinhThuc NVARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO ThanhToanHopDong(MaHD, SoTien, LoaiGiaoDich, HinhThuc, TrangThai)
    VALUES (@MaHD, @SoTien, 'THANH_TOAN', @HinhThuc, N'Thành công');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhDiemThamDinh]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TinhDiemThamDinh]
    @MaHS VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TotalScore INT;
    DECLARE @RiskLevel NVARCHAR(20);

    -- 1. Tính tổng điểm từ bảng chi tiết
    -- (Giả sử bạn sẽ INSERT vào HoSoThamDinh_ChiTiet trước khi gọi SP này)
    SELECT @TotalScore = ISNULL(SUM(Diem), 0)
    FROM HoSoThamDinh_ChiTiet
    WHERE MaHS = @MaHS;

    -- 2. GỌI SP LOGIC CHUNG ĐỂ LẤY RISK LEVEL (SỬA Ở ĐÂY)
    -- Thay vì logic ACCEPT/REJECT cũ, chúng ta gọi sp_XacDinhRiskLevel
    EXEC dbo.sp_XacDinhRiskLevel
        @RiskScore = @TotalScore,
        @RiskLevel = @RiskLevel OUTPUT; -- Lấy ra kết quả 'LOW', 'MEDIUM', 'HIGH'

    -- 3. Cập nhật vào bảng hồ sơ thẩm định
    UPDATE HoSoThamDinh
    SET RiskLevel = @RiskLevel,
        -- Cập nhật KetQua để hiển thị điểm và RiskLevel mới
        KetQua = CONCAT(N'Điểm: ', @TotalScore, N' - ', @RiskLevel)
    WHERE MaHS = @MaHS;

    PRINT N'Đã tính điểm thẩm định cho hồ sơ ' + @MaHS;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhPhiBaoHiem]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_TinhPhiBaoHiem]
    @MaHS VARCHAR(10),
    @MaGoi VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @GiaTriXe DECIMAL(18,2);
    DECLARE @RiskLevel NVARCHAR(20);
    DECLARE @Phi DECIMAL(18,2);

    -- Lấy risk level từ HoSoThamDinh
    SELECT @RiskLevel = RiskLevel, @MaGoi = @MaGoi
    FROM HoSoThamDinh
    WHERE MaHS = @MaHS;

    -- Lấy giá trị xe
    SELECT @GiaTriXe = GiaTriXe
    FROM Xe
    WHERE MaXe = (SELECT MaXe FROM HoSoThamDinh WHERE MaHS = @MaHS);

    -- Tính phí dựa vào bảng MaTranTinhPhi + GoiBaoHiem
    SELECT @Phi =
        @GiaTriXe * (TyLePhiCoBan / 100) * HeSoPhi
    FROM GoiBaoHiem GB
    JOIN MaTranTinhPhi MT ON GB.MaGoi = MT.MaGoi
    WHERE GB.MaGoi = @MaGoi AND MT.RiskLevel = @RiskLevel;

    -- Update lại vào phi dự kiến của hồ sơ
    UPDATE HoSoThamDinh
    SET PhiDuKien = @Phi
    WHERE MaHS = @MaHS;

    PRINT N'Phí dự kiến đã được cập nhật vào hồ sơ ' + @MaHS;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XacDinhRiskLevel]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XacDinhRiskLevel]
    @RiskScore INT,
    @RiskLevel NVARCHAR(20) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Quy ước:
    -- Score >= 26 => HIGH (có thể xử lý là REJECT ở nơi gọi)
    -- 16..25      => MEDIUM
    -- <=15        => LOW

    IF @RiskScore >= 26
        SET @RiskLevel = 'HIGH';
    ELSE IF @RiskScore >= 16
        SET @RiskLevel = 'MEDIUM';
    ELSE
        SET @RiskLevel = 'LOW';
END;
GO
/****** Object:  Trigger [dbo].[trg_AutoMaBienSo]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AutoMaBienSo] ON [dbo].[BienSoXe] INSTEAD OF INSERT AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO BienSoXe (MaBienSo, MaKH, BienSo, TrangThai)
    SELECT i.MaBienSo, i.MaKH, i.BienSo, i.TrangThai
    FROM inserted i WHERE i.MaBienSo IS NOT NULL;

    INSERT INTO BienSoXe (MaBienSo, MaKH, BienSo, TrangThai)
    SELECT 'BS' + RIGHT('0000' + CAST(NEXT VALUE FOR seq_MaBienSo AS VARCHAR(10)), 4),
    i.MaKH, i.BienSo, ISNULL(i.TrangThai, N'Hoạt động') -- SỬA LỖI (Giả định)
    FROM inserted i WHERE i.MaBienSo IS NULL;
END;
GO
ALTER TABLE [dbo].[BienSoXe] ENABLE TRIGGER [trg_AutoMaBienSo]
GO
/****** Object:  Trigger [dbo].[trg_AutoMaGoi]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AutoMaGoi] ON [dbo].[GoiBaoHiem] INSTEAD OF INSERT AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO GoiBaoHiem (MaGoi, TenGoi, TyLePhiCoBan, MoTa)
    SELECT i.MaGoi, i.TenGoi, i.TyLePhiCoBan, i.MoTa
    FROM inserted i WHERE i.MaGoi IS NOT NULL;

    INSERT INTO GoiBaoHiem (MaGoi, TenGoi, TyLePhiCoBan, MoTa)
    SELECT 'GBH' + RIGHT('0000' + CAST(NEXT VALUE FOR seq_MaGoi AS VARCHAR(10)), 4),
    i.TenGoi, i.TyLePhiCoBan, i.MoTa
    FROM inserted i WHERE i.MaGoi IS NULL;
END;
GO
ALTER TABLE [dbo].[GoiBaoHiem] ENABLE TRIGGER [trg_AutoMaGoi]
GO
/****** Object:  Trigger [dbo].[trg_AutoMaHD]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_AutoMaHD] ON [dbo].[HopDong] INSTEAD OF INSERT AS
BEGIN
    SET NOCOUNT ON;
    
    -- Case 1: MaHD already provided (manual insert)
    INSERT INTO HopDong (
        MaHD, NgayKy, NgayHetHan, TrangThai, PhiBaoHiem, 
        MaKH, MaXe, MaNV, NgayTao, DaNhacTaiTuc, HinhThucThanhToan, 
        GhiChuThanhToan, MaGoi
    )
    SELECT 
        i.MaHD,
        i.NgayKy, 
        i.NgayHetHan, 
        i.TrangThai, 
        i.PhiBaoHiem, 
        i.MaKH, 
        i.MaXe, 
        i.MaNV, 
        i.NgayTao, 
        i.DaNhacTaiTuc, 
        i.HinhThucThanhToan, 
        i.GhiChuThanhToan, 
        i.MaGoi
    FROM inserted i 
    WHERE i.MaHD IS NOT NULL;

    -- Case 2: MaHD NULL → Auto generate with new format HD-YYYYMMDD-XXXX
    INSERT INTO HopDong (
        MaHD, NgayKy, NgayHetHan, TrangThai, PhiBaoHiem, 
        MaKH, MaXe, MaNV, NgayTao, DaNhacTaiTuc, HinhThucThanhToan, 
        GhiChuThanhToan, MaGoi
    )
    SELECT 
        -- Generate MaHD: HD-YYYYMMDD-XXXX
        'HD-' + FORMAT(ISNULL(i.NgayKy, GETDATE()), 'yyyyMMdd') + '-' + 
        RIGHT('0000' + CAST(
            (SELECT COUNT(*) + 1 
             FROM HopDong 
             WHERE MaHD LIKE 'HD-' + FORMAT(ISNULL(i.NgayKy, GETDATE()), 'yyyyMMdd') + '-%'
            ) AS VARCHAR(4)
        ), 4),
        i.NgayKy, 
        i.NgayHetHan, 
        ISNULL(i.TrangThai, N'Hiệu lực'), 
        i.PhiBaoHiem, 
        i.MaKH, 
        i.MaXe, 
        i.MaNV, 
        ISNULL(i.NgayTao, GETDATE()), 
        ISNULL(i.DaNhacTaiTuc, 0), 
        i.HinhThucThanhToan, 
        i.GhiChuThanhToan, 
        i.MaGoi
    FROM inserted i 
    WHERE i.MaHD IS NULL;
END;
GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_AutoMaHD]
GO
/****** Object:  Trigger [dbo].[trg_SetChildRelationStatus]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TRG 8.2: trg_SetChildRelationStatus (Bị lỗi Msg 8197, giờ đã có bảng)
CREATE   TRIGGER [dbo].[trg_SetChildRelationStatus]
ON [dbo].[HopDongRelation]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE hd
    SET 
        hd.TrangThai = CASE i.LoaiQuanHe
                         WHEN 'TAI_TUC' THEN N'RENEWED' 
                         WHEN 'CHUYEN_QUYEN' THEN N'TRANSFERRED' 
                         ELSE hd.TrangThai
                       END
    FROM [dbo].[HopDong] hd
    JOIN inserted i ON hd.MaHD = i.MaHD_Goc;
END;
GO
ALTER TABLE [dbo].[HopDongRelation] ENABLE TRIGGER [trg_SetChildRelationStatus]
GO
/****** Object:  Trigger [dbo].[trg_AutoMaHS]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AutoMaHS] ON [dbo].[HoSoThamDinh] INSTEAD OF INSERT AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO HoSoThamDinh (MaHS, NgayLap, TrangThai, MaKH, MaXe, MaNV_Nhap, MaNV_ThamDinh, KetQua, PhiDuKien, GhiChu, MaHD, RiskLevel)
    SELECT i.MaHS, i.NgayLap, i.TrangThai, i.MaKH, i.MaXe, i.MaNV_Nhap, i.MaNV_ThamDinh, i.KetQua, i.PhiDuKien, i.GhiChu, i.MaHD, i.RiskLevel
    FROM inserted i WHERE i.MaHS IS NOT NULL;

    INSERT INTO HoSoThamDinh (MaHS, NgayLap, TrangThai, MaKH, MaXe, MaNV_Nhap, MaNV_ThamDinh, KetQua, PhiDuKien, GhiChu, MaHD, RiskLevel)
    SELECT 'HS' + RIGHT('0000' + CAST(NEXT VALUE FOR seq_MaHS AS VARCHAR(10)), 4),
    ISNULL(i.NgayLap, GETDATE()),             -- SỬA LỖI
    ISNULL(i.TrangThai, N'Chờ thẩm định'), -- SỬA LỖI
    i.MaKH, i.MaXe, i.MaNV_Nhap, i.MaNV_ThamDinh, i.KetQua, i.PhiDuKien, i.GhiChu, i.MaHD, 
    ISNULL(i.RiskLevel, 'LOW')             -- SỬA LỖI
    FROM inserted i WHERE i.MaHS IS NULL;
END;
GO
ALTER TABLE [dbo].[HoSoThamDinh] ENABLE TRIGGER [trg_AutoMaHS]
GO
/****** Object:  Trigger [dbo].[trg_AutoMaKH]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AutoMaKH] ON [dbo].[KhachHang] INSTEAD OF INSERT AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO KhachHang (MaKH, HoTen, CMND_CCCD, NgaySinh, DiaChi, SDT, Email)
    SELECT i.MaKH, i.HoTen, i.CMND_CCCD, i.NgaySinh, i.DiaChi, i.SDT, i.Email
    FROM inserted i WHERE i.MaKH IS NOT NULL;

    INSERT INTO KhachHang (MaKH, HoTen, CMND_CCCD, NgaySinh, DiaChi, SDT, Email)
    SELECT 'KH' + RIGHT('0000' + CAST(NEXT VALUE FOR seq_MaKH AS VARCHAR(10)), 4),
    i.HoTen, i.CMND_CCCD, i.NgaySinh, i.DiaChi, i.SDT, i.Email
    FROM inserted i WHERE i.MaKH IS NULL;
END;
GO
ALTER TABLE [dbo].[KhachHang] ENABLE TRIGGER [trg_AutoMaKH]
GO
/****** Object:  Trigger [dbo].[trg_AutoMaLS]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AutoMaLS] ON [dbo].[LS_TaiNan] INSTEAD OF INSERT AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO LS_TaiNan (MaLS, MaXe, SuKien, NgayXayRa, MucDoThietHai, ChiPhiUocTinh) -- SỬA Ở ĐÂY
    SELECT i.MaLS, i.MaXe, i.SuKien, i.NgayXayRa, i.MucDoThietHai, i.ChiPhiUocTinh -- SỬA Ở ĐÂY
    FROM inserted i WHERE i.MaLS IS NOT NULL;

    INSERT INTO LS_TaiNan (MaLS, MaXe, SuKien, NgayXayRa, MucDoThietHai, ChiPhiUocTinh) -- SỬA Ở ĐÂY
    SELECT 'LS' + RIGHT('0000' + CAST(NEXT VALUE FOR seq_MaLS AS VARCHAR(10)), 4),
    i.MaXe, i.SuKien, i.NgayXayRa, i.MucDoThietHai, i.ChiPhiUocTinh -- SỬA Ở ĐÂY
    FROM inserted i WHERE i.MaLS IS NULL;
END;
GO
ALTER TABLE [dbo].[LS_TaiNan] ENABLE TRIGGER [trg_AutoMaLS]
GO
/****** Object:  Trigger [dbo].[trg_AutoMaNV]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AutoMaNV] ON [dbo].[NhanVien] INSTEAD OF INSERT AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO NhanVien (MaNV, HoTen, ChucVu, PhongBan, SDT, Email)
    SELECT i.MaNV, i.HoTen, i.ChucVu, i.PhongBan, i.SDT, i.Email
    FROM inserted i WHERE i.MaNV IS NOT NULL;

    INSERT INTO NhanVien (MaNV, HoTen, ChucVu, PhongBan, SDT, Email)
    SELECT 'NV' + RIGHT('0000' + CAST(NEXT VALUE FOR seq_MaNV AS VARCHAR(10)), 4),
    i.HoTen, i.ChucVu, i.PhongBan, i.SDT, i.Email
    FROM inserted i WHERE i.MaNV IS NULL;
END;
GO
ALTER TABLE [dbo].[NhanVien] ENABLE TRIGGER [trg_AutoMaNV]
GO
/****** Object:  Trigger [dbo].[trg_AutoMaTK]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AutoMaTK] ON [dbo].[TaiKhoan] INSTEAD OF INSERT AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO TaiKhoan (MaTK, TenDangNhap, MatKhau, VaiTro, TrangThai, MaNV)
    SELECT i.MaTK, i.TenDangNhap, i.MatKhau, i.VaiTro, i.TrangThai, i.MaNV
    FROM inserted i WHERE i.MaTK IS NOT NULL;

    INSERT INTO TaiKhoan (MaTK, TenDangNhap, MatKhau, VaiTro, TrangThai, MaNV)
    SELECT 'TK' + RIGHT('0000' + CAST(NEXT VALUE FOR seq_MaTK AS VARCHAR(10)), 4),
    i.TenDangNhap, i.MatKhau, i.VaiTro, 
    ISNULL(i.TrangThai, 1), -- SỬA LỖI (Giả sử 1 là hoạt động)
    i.MaNV
    FROM inserted i WHERE i.MaTK IS NULL;
END;
GO
ALTER TABLE [dbo].[TaiKhoan] ENABLE TRIGGER [trg_AutoMaTK]
GO
/****** Object:  Trigger [dbo].[trg_AutoMaTT]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AutoMaTT] ON [dbo].[ThanhToanHopDong] INSTEAD OF INSERT AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO ThanhToanHopDong (MaTT, MaHD, NgayGiaoDich, SoTien, LoaiGiaoDich, HinhThuc, TrangThai, GhiChu)
    SELECT i.MaTT, i.MaHD, i.NgayGiaoDich, i.SoTien, i.LoaiGiaoDich, i.HinhThuc, i.TrangThai, i.GhiChu
    FROM inserted i WHERE i.MaTT IS NOT NULL;

    INSERT INTO ThanhToanHopDong (MaTT, MaHD, NgayGiaoDich, SoTien, LoaiGiaoDich, HinhThuc, TrangThai, GhiChu)
    SELECT 'TT' + RIGHT('0000' + CAST(NEXT VALUE FOR seq_MaTT AS VARCHAR(10)), 4),
    i.MaHD, 
    ISNULL(i.NgayGiaoDich, GETDATE()), -- SỬA LỖI
    i.SoTien, i.LoaiGiaoDich, i.HinhThuc, 
    ISNULL(i.TrangThai, N'Mới tạo'),  -- SỬA LỖI
    i.GhiChu
    FROM inserted i WHERE i.MaTT IS NULL;
END;
GO
ALTER TABLE [dbo].[ThanhToanHopDong] ENABLE TRIGGER [trg_AutoMaTT]
GO
/****** Object:  Trigger [dbo].[trg_UpdateHopDongStatus_WhenPaid]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TRG 8.1: trg_UpdateHopDongStatus_WhenPaid (Đã chạy thành công ở lần trước)
CREATE   TRIGGER [dbo].[trg_UpdateHopDongStatus_WhenPaid]
ON [dbo].[ThanhToanHopDong]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    IF (@@ROWCOUNT = 0) RETURN;

    DECLARE @AffectedHDs TABLE (MaHD VARCHAR(10) PRIMARY KEY);
    INSERT INTO @AffectedHDs (MaHD)
    SELECT MaHD FROM inserted WHERE MaHD IS NOT NULL
    UNION
    SELECT MaHD FROM deleted WHERE MaHD IS NOT NULL;

    WITH PaymentSummary AS (
        SELECT 
            tt.MaHD,
            ISNULL(SUM(CASE WHEN tt.TrangThai = N'Thành công' THEN tt.SoTien ELSE 0 END), 0) AS TongTienRong
        FROM [dbo].[ThanhToanHopDong] tt
        WHERE tt.MaHD IN (SELECT MaHD FROM @AffectedHDs)
        GROUP BY tt.MaHD
    ),
    StatusUpdate AS (
        SELECT 
            hd.MaHD,
            hd.PhiBaoHiem,
            ISNULL(ps.TongTienRong, 0) AS TongTienRong,
            CASE 
                WHEN ISNULL(ps.TongTienRong, 0) >= hd.PhiBaoHiem AND hd.TrangThai <> N'Đã hủy' THEN N'ACTIVE' 
                WHEN ISNULL(ps.TongTienRong, 0) > 0 THEN N'PARTIAL_PAID' 
                ELSE hd.TrangThai
            END AS TrangThaiMoi
        FROM [dbo].[HopDong] hd
        LEFT JOIN PaymentSummary ps ON hd.MaHD = ps.MaHD
        WHERE hd.MaHD IN (SELECT MaHD FROM @AffectedHDs)
    )
    UPDATE hd
    SET 
        hd.TrangThai = su.TrangThaiMoi
    FROM [dbo].[HopDong] hd
    JOIN StatusUpdate su ON hd.MaHD = su.MaHD
    WHERE hd.TrangThai <> su.TrangThaiMoi;
END;
GO
ALTER TABLE [dbo].[ThanhToanHopDong] ENABLE TRIGGER [trg_UpdateHopDongStatus_WhenPaid]
GO
/****** Object:  Trigger [dbo].[trg_AutoMaXe]    Script Date: 11/13/2025 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Tạo lại trigger với field mới
CREATE TRIGGER [dbo].[trg_AutoMaXe] ON [dbo].[Xe] INSTEAD OF INSERT AS
BEGIN
    SET NOCOUNT ON;
    -- Case 1: MaXe đã có (UPDATE/INSERT với MaXe cụ thể)
    INSERT INTO Xe (MaXe, HangXe, LoaiXe, NamSX, GiaTriXe, MucDichSuDung, TinhTrangKT, TanSuatNam, TanSuatBaoDuong, SoKhung_VIN, SoMay)
    SELECT i.MaXe, i.HangXe, i.LoaiXe, i.NamSX, i.GiaTriXe, i.MucDichSuDung, i.TinhTrangKT, i.TanSuatNam, i.TanSuatBaoDuong, i.SoKhung_VIN, i.SoMay
    FROM inserted i WHERE i.MaXe IS NOT NULL;

    -- Case 2: MaXe NULL → Auto generate
    INSERT INTO Xe (MaXe, HangXe, LoaiXe, NamSX, GiaTriXe, MucDichSuDung, TinhTrangKT, TanSuatNam, TanSuatBaoDuong, SoKhung_VIN, SoMay)
    SELECT 'XE' + RIGHT('0000' + CAST(NEXT VALUE FOR seq_MaXe AS VARCHAR(10)), 4),
    i.HangXe, i.LoaiXe, i.NamSX, i.GiaTriXe, i.MucDichSuDung, i.TinhTrangKT, i.TanSuatNam, i.TanSuatBaoDuong, i.SoKhung_VIN, i.SoMay
    FROM inserted i WHERE i.MaXe IS NULL;
END;
GO
ALTER TABLE [dbo].[Xe] ENABLE TRIGGER [trg_AutoMaXe]
GO
USE [master]
GO
